{% extends "base.html" %}
{% block title %}课程列表-eduStack{% endblock%}
{% load staticfiles %}
{% block nav %}
                <nav>
                    <div class="nav">
                        <div class="wp">
                            <ul>
                                <li ><a href="{% url 'index' %}">首页</a></li>
                                <li class="active" >
                                    <a href="{% url 'courses' %}">
                                        课程<img class="hot" src="/static/images/nav_hot.png">
                                    </a>
                                </li>
                                <li >
                                    <a href="{% url 'teachers' %}">教师</a>
                                </li>
                                <li ><a href="{% url 'publishers' %}">机构</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
{% block level %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li class="active">课程</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li {% if sort_by == '' %}class="active"{% endif %}><a href="?keyword={{ keyword }}&sort_by=">最近更新</a></li>
						<li {% if sort_by == 'learn_num' %}class="active"{% endif %}><a href="?keyword={{ keyword }}&sort_by=learn_num">最多学习</a></li>
						<li {% if sort_by == 'fav_num' %}class="active"{% endif %}><a href="?keyword={{ keyword }}&sort_by=fav_num">最多收藏</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        {% for course in courses.object_list %}
                            <div class="box">
                                <a href="{% url 'course_detail' course.id %}">
                                    <img width="280" height="350" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course_detail' course.id %}">
                                        <h2>{{ course.name }}</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ course.time }}</i>(分钟)</span>
                                    <span class="fr">学习人数：{{ course.learn_num }}&nbsp;&nbsp;</span>
                                    
                                </div>
                                <div class="bottom">
                                    <a href=""><span class="fl">来自{{ course.teacher.publisher.name }}</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ course.fav_num }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}


					</div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {% if courses.has_previous %}
                                <li class="long"><a href="?{{ all_courses.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}

                            {% for page in courses.pages %}
                                {% if page %}
                                    {% ifequal page courses.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if courses.has_next %}
                                <li class="long"><a href="?{{ courses.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}

                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    {% for top_course in top_courses %}
                    <dl>
						<dt>
							<a href="{% url 'course_detail' top_course.id %}">
								<img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ top_course.image }}"/>
							</a>
						</dt>
						<dd>
							<a href="href="{% url 'course_detail' top_course.id %}""><h2> {{ top_course.name }}</h2></a>
							<span class="fl">点击量：<i class="key">{{ top_course.click_num}}</i></span>
                            <span class="fr">学习人数：<i class="key">{{ top_course.learn_num }}</i></span>
						</dd>
					</dl>
                        
                    {% endfor %}


				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

