{% extends 'base.html' %}
{% block title %}课程详情-eduStack{% endblock %}
{% load staticfiles %}
{% block level %}
    <section>
	<div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'courses' %}">课程</a>></li>
				<li>课程详情</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}


{% block content %}
    <section>
	<div class="wp">
		<div class="groupPurchase_detail detail">
			<div class="toppro">
				<div class="left">
					<div class="picbox">
						<div class="tb-booth tb-pic">
							<img width="440" height="445" src="{{ MEDIA_URL }}{{ course.image }}" class="jqzoom" />
						</div>

					</div>
					<div class="des">
						<h1>{{ course.name }}</h1>
						<span class="key">{{ course.description }}</span>
						<div class="prize">
							<span class="fl">难度：<i class="key">{{ course.get_level_display }}</i></span>
							<span class="fr">学习时长：<i class="key">{{ course.time }}</i>（分钟）</span>
						</div>
						<ul class="parameter">
							<li><span class="pram word3">收藏人数：</span><span>{{ course.fav_num }}</span></li>
                            <li><span class="pram word3">学习人数：</span><span>{{ course.learn_num }}</span></li>
                            <li><span class="pram word3">章&nbsp;节&nbsp;数：</span><span>{{ chapter_num }}</span></li>
                            <li><span class="pram word3">课程类别：</span><span title="">{{ course.category }}</span></li>
							<li class="piclist">
{#                                <span class="pram word4">学习用户：</span>#}
{#                                {% for user_course in course.get_learn_users %}#}
{#                                    <span class="pic"><img width="40" height="40" src="{{ MEDIA_URL }}{{ user_course.user.image }}"/></span>#}
{#                                {% endfor %}#}
                                <span class="pram word4">上线时间：</span> <span>{{ course.create_time }}</span>
							</li>
                            <li>
                                <span class="pram word4">更新时间：</span><span>{{ course.update_time }}</span>
                            </li>
						</ul>
						<div class="btns">
							<div class="btn colectgroupbtn"  id="jsLeftBtn">
                                  {% if has_fav_course %}取消收藏{% else %}收藏{% endif %}
                            </div>
                                <div class="buy btn"><a style="color: white" href="{% url 'course_chapters' course.id %}">{% if has_learn %}继续学习{% else%}开始学习{% endif %}</a></div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="head">
						<h1 style="text-align: center;line-height:40px;">课程发布教师</h1>
{#                        <p style="text-align: center">{{ course.teacher.name }}</p>#}
{#						<p>{{ course.teacher.name }}</p>#}
					</div>
					<div class="pic">
                        <a href="{% url 'teacher_detail' course.teacher.id %}">
                            <img width="150" height="80" src="{{ MEDIA_URL }}{{ course.teacher.avatar }}"/>
                        </a>
                    </div>
					<a>
                        <h2 class="center">{{ course.teacher.name }}</h2>
                    </a>
					<div class="btn  notlogin
					     "data-favid="14" id="jsRightBtn">
                         {% if has_fav_teacher %}取消收藏{% else %}收藏{% endif %}
                    </div>
					<div class="clear">
						<ul>
                            <li>
                                <span>课 &nbsp;程&nbsp; 数：{{ course.teacher.course_set.count }}</span>
                            </li>
                            <li>
                                <span>职 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 称：{{ course.teacher.get_title_display }}</span>
                            </li>
							<li>所属机构&nbsp;：{{ course.teacher.publisher.name }}</li>
							<li>收藏人数&nbsp;：<span id="fav_num">{{ course.teacher.fav_num }}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
    <section>
	<div class="wp">
		<div class="list groupPurchase_detail_pro">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li>课程详情</li>
                        
					</ul>
				</div>
				<div class="tab_cont tab_cont1">
                    {% autoescape off %}
					{{ course.detail }}
                    {% endautoescape %}
				</div>
            <div class="head">
					<ul class="tab_header">
						<li>课程目录</li>
                        
					</ul>
				</div>
				<div class="tab_cont tab_cont1">
                    {% autoescape off %}
                        <div class="mod-chapters">
                        {% for chapter in course.chapter_set.all %}
                            <div class="chapter chapter-active" >
                                <h3>
                                    <strong><i class="state-expand"></i>{{ chapter.name }}</strong>
                                </h3>
                                <ul class="video">
                                    {% for video in chapter.video_set.all %}
                                    <li>
                                        <p style="color: #787d82;">{{ video.name }} ({{ video.time }})
                                            <i class="study-state"></i>
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    {% endautoescape %}
				</div>
			</div>
			<div class="right layout">
				<div class="head">相关课程推荐</div>
                <div class="group_recommend">
                    {% for relate_course in relate_courses %}
                        <dl>
                            <dt>
                                <a  href="{% url 'course_detail' relate_course.id %}">
                                    <img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ relate_course.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a  href="{% url 'course_detail' relate_course.id %}"><h2> {{ relate_course.name }}</h2></a>
                                <span class="fl">点击量：<i class="key">{{ relate_course.click_num }}</i></span>
                            </dd>
                        </dl>
                    {% endfor %}


                </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block personal_js %}
<script type="text/javascript">
//收藏分享
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url "user_fav" %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'failed'){
                if(data.msg == '用户未登录'){
                    window.alert("用户未登录！");
                    {#window.location.href="{% url 'login' %};#}
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'successed'){
                current_elem.text(data.msg);
            }
        },
    });
}
{#收藏课程#}
$('#jsLeftBtn').on('click', function(){
    add_fav($(this), {{ course.id }}, 1);
});
{#收藏教师#}
$('#jsRightBtn').on('click', function(){
    add_fav($(this), {{ course.teacher.id }}, 2);
});


</script>

{% endblock %}