{% extends 'base.html' %}
{% block nav %}
                <nav>
                    <div class="nav">
                        <div class="wp">
                            <ul>
                                <li class="active"><a href="{% url 'index' %}">首页</a></li>
                                <li>
                                    <a href="{% url 'courses' %}">
                                        课程<img class="hot" src="/static/images/nav_hot.png">
                                    </a>
                                </li>
                                <li >
                                    <a href="{% url 'teachers' %}">教师</a>
                                </li>
                                <li ><a href="{% url 'publishers' %}">机构</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
{% block level%}{% endblock %}

{% block content %}
    <div class="banner">
			<div class="wp">
				<div class="fl">
					<div class="imgslide">
						<ul class="imgs">
                         {% for banner in banners %}
                            <li>
                                    <a href="{{ banner.url }}">
                                        <img width="1200" height="478" src="{{ MEDIA_URL }}{{ banner.image }}" />
                                    </a>
                                </li>
                            {% endfor %}

						</ul>
					</div>
					<div class="unslider-arrow prev"></div>
					<div class="unslider-arrow next"></div>
				</div>

				</div>


			</div>
<!--banner end-->
<!--feature start-->
	<section>
		<div class="wp">
			<ul class="feature">
				<li class="feature1">
					<img class="pic" src="/static/images/feature1.png"/>
					<p class="center">名师授课</p>
				</li>
				<li class="feature2">
					<img class="pic" src="/static/images/feature2.png"/>
					<p class="center">免费超值</p>
				</li>
				<li class="feature3">
					<img class="pic" src="/static/images/feature3.png"/>
					<p class="center">风靡全校</p>
				</li>
				<li class="feature4">
					<img class="pic" src="/static/images/feature4.png"/>
					<p class="center">教育入栈</p>
				</li>
			</ul>
		</div>
	</section>
<!--feature end-->
<!--module1 start-->
	<section>
		<div class="module">
			<div class="wp">
				<h1>热门课程</h1>
				<div class="module1 eachmod">
					<div class="module1_1 left">
						<img width="228" height="614" src="/static/images/module1_1.jpg"/>
						<p class="fisrt_word">名师大牛<br/>专业讲授</p>
						<a class="more" href="{% url 'courses' %}">查看更多课程 ></a>
					</div>
					<div class="right group_list">
                            {% for course in courses %}
                                
                            <div class="module1_3 box">
                                <a href="{% url 'course_detail' course.id %}">
                                    <img width="233" height="190" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course_detail' course.id %}">
                                        <h2 title="{{ course.name }}"></h2>
                                    </a>
                                    <span class="fl">难度：<i class="key">{{ course.get_level_display }}</i></span>
                                    <span class="fr">学习人数：<i class="key">{{ course.learn_num }}</i></span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title="{{ course.teacher.publisher.name }}">{{ course.teacher.publisher.name }}</span>
                                    <span class="star fr">0</span>
                                </div>
                            </div>
                            {% endfor %}
					</div>
                    
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="module greybg">
			<div class="wp">
				<h1>院校机构</h1>
				<div class="module3 eachmod">
					<div class="module3_1 left">
						<img width="228" height="463" src="/static/images/module3_1.jpg"/>
						<p class="fisrt_word">知名团队<br/>倾情奉献</p>
						<a class="more" href="{% url 'courses' %}">查看更多机构 ></a>
					</div>
					<div class="right">
						<ul>
                            
                                
                            {% for publisher in publishers %}
                                <li {% if forloop.counter|divisibleby:5 %}class="five" {% endif %}>
                                    <a href="{% url 'publisher-index' publisher.id %}">
                                        <div class="company" style="height: 100px;">
                                            <img width="184" height="100" src="{{ MEDIA_URL }}{{ publisher.image }}"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>了解更多</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="{{ publisher.name }}">{{ publisher.name }}</span></p>
                                    </a>
                                </li>
                            {% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}



    
{% block personal_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}


