{% extends 'org-base.html' %}
{% load staticfiles %}
{% block title %}机构首页 - eduStack{% endblock %}
{% block right_form %}
    
<div class="right companycenter layout" >
<div class="head">
    <h1>机构介绍</h1>
    <a class="green fr more" href="org-detail-desc.html">查看更多  >  </a>
    
</div>
    <div class="cont">{{ publisher.intro }}</div>
</div>
<div class="right companycenter layout grouping" >
		<div class="head">
			<h1>全部课程</h1>
			<a class="green fr more" href="org-detail-course.html">查看更多  >  </a>
		</div>
		<div class="brief group_list">
            {% for course in courses %}
                <div class="module1_5 box">
                    <a href=""><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>
                    <div class="des">
                        <a href=""><h2>{{ course.name }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ course.time }}</i></span>
                        <span class="fr">学习人数：{{ course.learn_num }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.publisher.name }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            {{ course.fav_num }}
                        </span>
                    </div>
                </div>
            {% endfor %}

		</div>
	</div>
<div class="right companycenter layout" >
    <div class="head">
        <h1>机构教师</h1>
        <a class="green fr more" href="org-detail-teachers.html">查看更多  >  </a>
    </div>
    {% for teacher in teachers %}
    <div class="diarys">
        <div class="module5 share company-diary-box" style="padding:10px 0;">
            <div class="left">
                <img class="pic" src="{{ MEDIA_URL }}{{ teacher.avatar }}"/>
                
            </div>
            <div class="right">
                <div class="top">
                    <div class="fl" style="margin-top: 8px">
                        <a href=""><h1>{{ teacher.name }}</h1></a>
                        <div><span>职称:{% if teacher.title == 1 %}
                    讲师
                    {% elif teacher.title == 2 %}
                    副教授
                    {% elif teacher.title == 3 %}
                    教授
                    {% elif teacher.title == 4 %}
                    学生
                    {% else %}
                    {% endif %}</span><span>简介: {{ teacher.intro }}</span></div>
                        <div><span>课程数: {{ teacher.course_set.count }}</span></div>
                        <div><span>联系方式: {{ teacher.contact }}</span></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}

