{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}课程机构列表 - eduStack{% endblock %}
    

{% block level %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>机构</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block nav %}
                <nav>
                    <div class="nav">
                        <div class="wp">
                            <ul>
                                <li class="" ><a href="{% url 'index' %}">首页</a></li>
                                <li >
                                    <a href="{% url 'courses' %}">
                                        课程<img class="hot" src="/static/images/nav_hot.png">
                                    </a>
                                </li>
                                <li >
                                    <a href="{% url 'teachers' %}">教师</a>
                                </li>
                                <li class="active"><a href="{% url 'publishers' %}">机构</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
{% block content %}
    <section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="listoptions">
			<ul>
				<li>
					<h2>机构类别</h2>
					<div class="cont">
                        <a href="?city="><span {% ifequal category '' %}class="active2"{% endifequal %}>全部</span></a>

                            <a href="?category=1"><span {% ifequal category '1' %} class="active2"{% endifequal %}>学院</span></a>
                            <a href="?category=2"><span {% ifequal category '2' %} class="active2"{% endifequal %}>工作室</span></a>
                            <a href="?category=3"><span {% ifequal category '3' %} class="active2"{% endifequal %}>小组</span></a>

					</div>
				</li>
				
			</ul>
		</div>
		<div class="all">共<span class="key">{{ count }}</span>家</div>
		<div class="butler_list company list">
		<div class="layout">
			<div class="head">
				<ul class="tab_header">
					<li {% ifequal sort_by '' %}class="active"{% endifequal %}><a href="?keyword={{ keyword }}&category={{ category }}">全部</a> </li>
					<li {% ifequal sort_by 'fav_num' %}class="active"{% endifequal %}><a href="?keyword={{ keyword }}&sort_by=fav_num&category={{ category }}">收藏人数 &#8595;</a></li>
					<li {% ifequal sort_by 'course_num' %}class="active"{% endifequal %}><a href="?keyword={{ keyword }}&sort_by=course_num&category={{ category }}">课程数 &#8595;</a></li>
				</ul>
			</div>
                {% for publisher in publishers.object_list %}
                    <dl class="des difdes">
                    <dt>
                        <a href="{% url 'publisher-index' publisher.id %}">
                            <img width="200" height="120" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ publisher.image}}"/>
                        </a>
                        
                    </dt>
                    <dd>
                        <div class="clearfix">
                             <a href="">
                                 <h1>{{ publisher.name }}</h1>
                                 
                             </a>
                        </div>
                        <ul class="cont">
                            <li class="first"><p class="pic9">课程数：<span>{{ publisher.course_num }}</span></p><p class="c7">学习人数：<span>{{ publisher.fav_num }}</span></p></li>
                            <li class="c8" style="padding-left:18px;">{{ publisher.intro}}</li>
                            <li class="pic10" style="padding-left:18px;">经典课程：

                                {% for course in publisher.top_courses %}
                                    <a href="{% url 'course_detail' course.id %}">{{ course.name }}</a>

                                {% endfor %}

                            </li>
                        </ul>
                    </dd>
                    <a href="{% url 'publisher-index' publisher.id %}"><div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>查看<br/>详情</div></a>
                </dl>
                {% endfor %}
                
            
		</div>
             <div class="pageturn">
                <ul class="pagelist">
    
                    {% if publishers.has_previous %}
                        <li class="long"><a href="?{{ publishers.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
    
                    {% for page in publishers.pages %}
                        {% if page %}
                            {% ifequal page publishers.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if publishers.has_next %}
                        <li class="long"><a href="?{{ publishers.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
    
    
                </ul>
            </div>
            </div>
     
	</div>
    <div class="right companyright">
			<div class="head">广告位招商</div>
			<form class="rightform" id="jsStayForm">
				<div>
                    <img src="/static/images/rightform1.png"/>
                    <input type="text" name="name" id="companyName" placeholder="名字" maxlength="25" />
                </div>
				<div>
                    <img src="/static/images/rightform2.png"/>
                    <input type="text" name="mobile" id="companyMobile" placeholder="联系电话"/>
                </div>
				<div>
                    <img src="/static/images/rightform3.png"/>
                    <input type="text" name="ad" id="companyAddress" placeholder="广告描述" maxlength="50" />
                </div>
                <p class="error company-tips" id="jsCompanyTips"></p>
				<input onclick="alert('该功能暂未上线')" class="btn" type="text" id="jsStayBtn" value="立即发送邮件" />
            </form>
		</div>

		<div class="right companyrank layout">
			<div class="head">热门机构</div>
            {% for item in top_publisher %}
                <dl class="des">
                    <dt class="num fl">{{ forloop.counter }}</dt>
                    <dd>
                        <a href="{% url 'publisher-index' item.id %}"><h1>{{ item.name }}</h1></a>
                        <p>点击数:{{ item.click_num }}</p>
                    </dd>
                </dl>
            {% endfor %}
		</div>
        </div>
    </section>

{% endblock %}

{% block personal_js%}
{% endblock %}


{#<script>#}
{#    $(function(){#}
{#        $(document).ready(function() {#}
{#            $('#jsStayBtn').on('click', function () {#}
{#                $.ajax({#}
{#                    cache: false,#}
{#                    type: "POST",#}
{#                    url: "/org/add_ask/",#}
{#                    data: $('#jsStayForm').serialize(),#}
{#                    async: true,#}
{#                    success: function (data) {#}
{#                        if (data.status == 'success') {#}
{#                            $('#jsStayForm')[0].reset();#}
{#                            alert("提交成功")#}
{#                        } else if (data.status == 'fail') {#}
{#                            $('#jsCompanyTips').html(data.msg)#}
{#                        }#}
{#                    },#}
{#                });#}
{#            });#}
{#        });#}
{#    })#}
{##}
{#</script>#}

