{% extends 'base.html' %}
{% block title %}教师详情-eduStack{% endblock %}
{% load staticfiles %}
{% block level %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li><a href="{% url 'teachers' %}">教师列表</a>></li>
                <li>讲师详情</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section>
	<div class="wp butler-detail-box butler-diaryd-box clearfix">
        <div class="fl list">
            <div class="butler_detail_list clearfix">
                <div class="brief">
                    <dl class="des">
                        <dt>
                            <div class="picpic">
                                <img width="100" height="100" src="{{ MEDIA_URL }}{{ teacher.avatar }}"/>
                            </div>
                            <div class="btn">
                                <span class="fl btn1 collectionbtn" id="jsLeftBtn">
                                     {% if has_teacher_fav %}取消收藏{% else %}收藏{% endif %}
                                </span>
                                    <span class="fl btn2" id="tips">打赏</span>
                                    <a href="#" class="bds_more" data-cmd="more"></a>
                                </span>
                            </div>
                        </dt>
                        <dd>
                            <a href="">
                                <h1>{{ teacher.name }}</h1>
                            </a>
                            <ul class="cont">
                                <li>职称：<span>{{ teacher.get_title_display }}</span></li>
                                <li>简介：<span>{{ teacher.intro }}</span></li>
                                <li>课程总数：<span>{{ teacher.course_set.count }}</span></li>
                                <li>收藏人数：<span>{{ teacher.fav_num }}</span></li>
                                <li>点击人数：<span>{{ teacher.click_num }}</span></li>
                                <li>联系方式：<span>{{ teacher.contact }}&nbsp;</span></li>
                                <li>教学特点：<span>{{ teacher.point }}</span></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="butler_detail_cont clearfix">
                <div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active"><a href="">全部课程</a> </li>
					</ul>
				</div>
                    <div class="companycenter">
                        <div class="group_list brief">
                            {% for course in courses %}
                            <div class="module1_5 box">
                                <a href="{% url 'course_detail' course.id %}">
                                    <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course_detail' course.id %}"><h2>{{ course.name }}</h2></a>
                                    <span class="fl">时长：<i class="key">{{ course.time }}</i></span>
                                    <span class="fr">学习人数：<i class="key">{{ course.learn_num }}</i></span>
                                </div>
                                <div class="bottom">
                                    <span class="fl">{{ teacher.publisher.name }}</span>
                                    <span class="star fr  notlogin" data-favid="15">{{ course.fav_num }}</span>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                <!--<div class="pageturn">-->
                    <!--<ul class="pagelist">-->
                        <!--<li class="active"><a href="?page=1">1</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
            </div>
        </div>
        <div class="fr list">
             <div class="butler_detail_list">
                <div class="right butler-company-box">
                <div class="head">
                    <h1 style="text-align: center;line-height:40px;">所属机构</h1>
                </div>
                <div class="pic">
                    <a href="{% url 'publisher-index' teacher.publisher.id %}">
                        <img width="150" height="80" src="{{ MEDIA_URL }}{{ teacher.publisher.image }}"/>
                    </a>
                </div>
                <a href="{% url 'publisher-index' teacher.publisher.id %}">
                    <h2 class="center">{{ teacher.publisher.name }}</h2>
                </a>
                <a class="btn" id="jsRightBtn">{% if has_publisher_fav %}取消收藏{% else %}收藏{% endif %}</a>
            </div>
            </div>
            <div class="butler_detail_cont">
                <div class="butler_list_box">
                    <div class="right layout">
                        <div class="head">其他热门教师</div>
                        {% for teacher in top_teachers %}
                        <dl class="des">
                            <span class="num fl">{{ forloop.counter }}</span>
                            <a href="{% url 'teacher_detail' teacher.id %}">
                                <dt>
                                    <img width="50" height="50" class="scrollLoading" src="{{ MEDIA_URL }}{{ teacher.avatar }}"/>
                                </dt>
                            </a>
                            <dd>
                                <a href="{% url 'teacher_detail' teacher.id %}">
                                    <h1 title="{{ teacher.name }}">{{ teacher.name }}</h1>
                                </a>
                                <p>收藏人数：<span>{{ teacher.fav_num }}人</span></p>
                            </dd>
                        </dl>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
{% endblock %}


{% block personal_js %}
<script type="text/javascript">
//收藏分享
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url "user_fav" %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'failed'){
                if(data.msg == '用户未登录'){
                    {#window.location.href="/login/";#}
                    window.alert("用户未登录")
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'successed'){
                current_elem.text(data.msg)
            }
        },
    });
}

{#收藏教师#}
$('#jsLeftBtn').on('click', function(){
    add_fav($(this), {{ teacher.id }}, 2);
});

$('#jsRightBtn').on('click', function(){
    add_fav($(this), {{ teacher.publisher.id }}, 3);
});

$('#tips').on('click', function(){
    alert("该功能暂时未上线！")
});
</script>

{% endblock %}

