{% extends 'usercenter_base.html' %}
{% block title %}我的收藏-eduStack{% endblock %}
{% load staticfiles %}
{% block level %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'user_info' %}">个人中心</a>></li>
                <li>我的收藏</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的收藏</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li {% if fav_type == 3 %}class="active" {% endif %}><a href="?fav_type=3">机构</a> </li>
                        <li {% if fav_type == 2 %}class="active" {% endif %}><a href="?fav_type=2">教师 </a></li>
                        <li {% if fav_type == 1 %}class="active" {% endif %}><a href="?fav_type=1">课程</a></li>
                    </ul>

                </div>
                {% if fav_type == 1 %}
                <div class="companycenter">
                    <div class="group_list brief">
                    
                        {% for fav_course in fav_courses.object_list %}
                        <div class="module1_5 box">
                            <a href="{% url 'course_detail' fav_course.id %}">
                                <img width="214" height="190" src="{{ MEDIA_URL }}{{ fav_course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'course_detail' fav_course.id %}"><h2>{{ fav_course.name }}</h2></a>
                                <span class="fl">时长：<i class="key">{{ fav_course.time }}</i></span>
                                <span class="fr">学习人数：{{ fav_course.learn_num }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ fav_course.course_org.name }}</span>
                                <span class="delete-group fr jsDeleteFav_course" data-favid="{{ fav_course.id }}"></span>
                            </div>
                        </div>
                        {% endfor %}
                    

                    </div>
                <div class="pageturn">
                <ul class="pagelist">
    
                    {% if fav_courses.has_previous %}
                        <li class="long"><a href="?{{ fav_courses.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
    
                    {% for page in fav_courses.pages %}
                        {% if page %}
                            {% ifequal page fav_courses.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if fav_courses.has_next %}
                        <li class="long"><a href="?{{ fav_courses.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
    
    
                </ul>
            </div>
                </div>
            {% elif fav_type == 2 %}
                        <div class="messagelist">
                    {% for teacher in fav_teachers.object_list %}
                    <div class=" butler_list butler-fav-box">
                        <dl class="des users">
                            <dt>
                                <a href="{% url 'teacher_detail' teacher.id %}">
                                    <img width="100" height="100" src="{{ MEDIA_URL }}{{ teacher.avatar }}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1>
                                    <a href="{% url 'teacher_detail' teacher.id %}">
                                        {{ teacher.name }}
                                    </a>
                                </h1>
                                <ul class="cont clearfix">
                                    <li>职称：<span>{{ teacher.get_title_display }}</span></li>
                                    <li >所属机构：<span>{{ teacher.publisher.name }}</span></li>
                                    
                                </ul>
                                <ul class="cont clearfix">
                                    <li>简介：<span>{{ teacher.intro }}</span></li>
                                    <li>课程总数：<span>{{ teacher.course_set.count }}</span></li>
                                    
                                    
                                </ul>
                            </dd>
                            <div class="delete jsDeleteFav_teacher" data-favid="{{ teacher.id }}"></div>
                        </dl>
                    </div>
                    {% endfor %}
                </div>
                    <div class="pageturn">
                <ul class="pagelist">
    
                    {% if fav_teachers.has_previous %}
                        <li class="long"><a href="?{{ fav_teachers.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
    
                    {% for page in fav_teachers.pages %}
                        {% if page %}
                            {% ifequal page fav_teachers.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if fav_teachers.has_next %}
                        <li class="long"><a href="?{{ fav_teachers.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
    
    
                </ul>
            </div>
            {% else %}
                    <div class="messagelist">
                    {% for publisher in fav_publishers.object_list %}
                    <div class="messages butler_list company company-fav-box">
                        <dl class="des fr">
                            <dt>
                                <a href="{% url 'publisher-index' publisher.id %}">
                                    <img width="160" height="90" src="{{ MEDIA_URL }}{{ publisher.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1><a href="{% url 'publisher-index' publisher.id %}">{{ publisher.name }}</a></h1>
{#                                <div class="pic fl" style="width:auto;">#}
{##}
{#                                    <img src="{% static 'images/authentication.png' %}"/>#}
{##}
{##}
{#                                    <img src="{% static 'images/gold.png' %}"/>#}
{##}
{#                                </div>#}
                                
                                <span class="c8 clear">{{ publisher.intro }}</span>
                                <div class="delete jsDeleteFav_org" data-favid="{{ publisher.id }}"></div>
                            </dd>
                        </dl>
                    </div>
                    {% endfor %}
                 
                </div>
                       <div class="pageturn">
                <ul class="pagelist">
    
                    {% if fav_publishers.has_previous %}
                        <li class="long"><a href="?{{ publishers.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
    
                    {% for page in fav_publishers.pages %}
                        {% if page %}
                            {% ifequal page fav_publishers.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if fav_publishers.has_next %}
                        <li class="long"><a href="?{{ fav_publishers.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
    
    
                </ul>
            </div>
            {% endif %}
            </div>
        </div>
{% endblock %}


